<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{meta_title}}</title>

	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">

	{{ghost_head}}
</head>
<body>
	<div class="container">
		<div class="main">

		{{navigation}}
		
			<hr>
			{{{body}}}
			<hr>
			<footer>
				<span class="credits">
					<small>Theme <a href="https://github.com/salihciftci/clean">Clean</a> by <a href="https://salih.co/">Salih Çiftçi</a></small>
				</span>
				<span class="credits-software">
					<small>Published with <a href="http://ghost.org">Ghost</a></small>
				</span>
			</footer>
			<br>
		</div>
	</div>

	<script type="text/javascript" src="{{asset "js/prism.js"}}"></script>

	{{ghost_foot}}
	
</body>
</html>
