{{!< default}}

	<a id="code"></a>
	<h2>Code</h2>
	{{#get "posts" filter="tags:code" limit="5"}}
		{{#foreach posts}}
		<h3 class="postlink">
			<a href="{{url}}">{{title}}</a>
			<span class="main-time">
				<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
			</span>
		</h3>
		{{/foreach}}
	{{/get}}

	<a id="homelab"></a>
	<h2>HomeLab</h2>
	{{#get "posts" filter="tags:homelab" limit="5"}}
		{{#foreach posts}}
		<h3 class="postlink">
			<a href="{{url}}">{{title}}</a>
			<span class="main-time">
				<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
			</span>
		</h3>
		{{/foreach}}
	{{/get}}

	<a id="personal"></a>
	<h2>Personal</h2>
	{{#get "posts" filter="tags:personal" limit="5"}}
		{{#foreach posts}}
		<h3 class="postlink">
			<a href="{{url}}">{{title}}</a>
			<span class="main-time">
				<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
			</span>
		</h3>
		{{/foreach}}
	{{/get}}

