{{!< default}}

	<a id="networking"></a>
	<h2>Networking</h2>
	{{#get "posts" filter="tags:networking"}}
		{{#foreach posts}}
		<h3>
			<a href="{{url}}">{{title}}</a>
			<span class="main-time">
				<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
			</span>
		</h3>
		{{/foreach}}
	{{/get}}

	<a id="homelab"></a>
	<h2>HomeLab</h2>
	{{#get "posts" filter="tags:homelab"}}
		{{#foreach posts}}
		<h3>
			<a href="{{url}}">{{title}}</a>
			<span class="main-time">
				<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
			</span>
		</h3>
		{{/foreach}}
	{{/get}}


	<a id="code"></a>
	<h2>Code</h2>
	{{#get "posts" filter="tags:code"}}
		{{#foreach posts}}
		<h3>
			<a href="{{url}}">{{title}}</a>
			<span class="main-time">
				<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
			</span>
		</h3>
		{{/foreach}}
	{{/get}}

