{{!< default}}
{{#tag}}

<a id="tagname"></a>
<h2>{{name}}</h2>


{{/tag}}


	{{!-- {{#get "posts" filter="tags:networking"}} --}}
		{{#foreach posts}}
		<h3>
			<a href="{{url}}">{{title}}</a>
			<span class="main-time">
				<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
			</span>
		</h3>
		{{/foreach}}
	{{!-- {{/get}} --}}